echo "# intro-to-html-and-css-Lasthope9" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Lasthope9/intro-to-html-and-css-Lasthope9.git
git push -u origin main
